# Ignore everything
*

# Do not ignore directories
!*/

# Do not ignore .gitignore file
!.gitignore

# Specific file types not to ignore
!**/*.txt
!**/*.md

# C/C++
!**/*.c
!**/*.h
!**/*.cpp
!**/*.hpp
!**/*.cc
!**/*.hh

# Python
!**/*.py

# JavaScript / TypeScript
!**/*.js
!**/*.ts
!**/*.jsx
!**/*.tsx
!**/*.html
!**/*.css
!**/*.json

# Java
!**/*.java

# C#
!**/*.cs

# Objective-C
!**/*.m
!**/*.mm

# Swift
!**/*.swift

# Ruby
!**/*.rb

# Perl
!**/*.pl
!**/*.pm

# PHP
!**/*.php

# Rust
!**/*.rs

# Go
!**/*.go

# Shell/Bash scripts
!**/*.sh
!**/*.bash

# SQL
!**/*.sql

# R / Rmd
!**/*.R
!**/*.Rmd

# MATLAB
!**/*.m

# Other text files
!**/*.csv
!**/*.xml
!**/*.yml
!**/*.yaml
